{% extends "layout.njk" %}

{% block head %}
    <title>About | Foodfy</title>
    <link rel="stylesheet" href="about.css">
{% endblock head%}

{% block content %}

    <section class="about">
        <h2>Sobre o Foodfy</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit felis at felis volutpat, in dictum metus ullamcorper. In ullamcorper quis dolor at sagittis. Donec tellus magna, congue ac nisl quis, pellentesque semper turpis. Ut vehicula nisi sed justo iaculis imperdiet. Suspendisse porttitor vehicula tristique. Nulla ac finibus arcu. Aenean et interdum tellus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit felis at felis volutpat, in dictum metus ullamcorper. In ullamcorper quis dolor at sagittis. Donec tellus magna, congue ac nisl quis, pellentesque semper turpis. Ut vehicula nisi sed justo iaculis imperdiet. Suspendisse porttitor vehicula tristique. Nulla ac finibus arcu. Aenean et interdum tellus.</p>

        <h3>Como tudo começou...</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit felis at felis volutpat, in dictum metus ullamcorper. In ullamcorper quis dolor at sagittis. Donec tellus magna, congue ac nisl quis, pellentesque semper turpis. Ut vehicula nisi sed justo iaculis imperdiet. Suspendisse porttitor vehicula tristique. Nulla ac finibus arcu. Aenean et interdum tellus.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit felis at felis volutpat, in dictum metus ullamcorper. In ullamcorper quis dolor at sagittis. Donec tellus magna, congue ac nisl quis, pellentesque semper turpis. Ut vehicula nisi sed justo iaculis imperdiet. Suspendisse porttitor vehicula tristique. Nulla ac finibus arcu. Aenean et interdum tellus.</p>

        <h3>Nossas Receitas</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit felis at felis volutpat, in dictum metus ullamcorper. In ullamcorper quis dolor at sagittis. Donec tellus magna, congue ac nisl quis, pellentesque semper turpis. Ut vehicula nisi sed justo iaculis imperdiet. Suspendisse porttitor vehicula tristique. Nulla ac finibus arcu. Aenean et interdum tellus.</p>

    </section>
{% endblock %}